// Заголовки, общие БЄМ блоки и проче...
.title {
    font-family: 'SuezOne';
    @include adaptiveValue('font-size', 50, 34, 1280, 768, 1);
    line-height: 130%;
    text-align: center;
}

.subtitle {
    @include adaptiveValue('font-size', 22, 16, 768, 320, 1);
    text-align: center;
    line-height: 130%;
    margin: 0 auto;
}

.decoration {
    &__top {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.form {
    display: flex;
    background-color: #fff;
    padding: 3px;
    border-radius: rem(6);
    position: relative;

    width: 100%;
    @include adaptiveValue('max-width', 410, 280, 768, 320, 1);
    @media (max-width: $mobile) {
        width: 100%;
        max-width: none;
    }

    &__input {
        padding-left: rem(20);
        padding-right: rem(10);
        flex: 1 1 auto;
    }

    &__button {
        padding: rem(15) rem(20);

        background-color: $red;
        border: 2px solid $redBright;
        color: #fff;
        border-radius: rem(6);

        @include adaptiveValue('font-size', 14, 12, 768, 320, 1);
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 1px;
        text-transform: capitalize;
        transition: all 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                background-color: #fff;
                color: $red;
            }
        }

        @media (max-width: $mobileSmall) {
            padding: rem(5) rem(10);
        }
    }
}

.custom-shape-divider-bottom-1659797792 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1659797792 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1659797792 .shape-fill {
    fill: #1f1f20;
}
