// ====================================================================================================
// Блок Intro
// ====================================================================================================.hello {}

.intro {
    @include adaptiveValue('padding-top', 200, 115, 768, 320, 1);

    &__body {
        display: flex;
        column-gap: rem(100);
        @include adaptiveValue('column-gap', 100, 40, 1280, 768, 1);

        @media (max-width: $mobile) {
            flex-direction: column;
        }
    }

    &__text {
        align-self: center;
        padding: rem(84) 0;
    }

    &__images {
        flex: 0 0 40%;
    }

    &__title {
        margin-bottom: rem(24);
    }

    &__subtitle {
        @include adaptiveValue('font-size', 22, 16, 768, 320, 1);
        line-height: 130%;

        margin-bottom: rem(60);
    }
}

.images-intro {
    position: relative;
    &__wrapper {
        @media (max-width: $mobile) {
            height: 325px;
        }
    }

    &__image {
        img {
            position: absolute;
            box-shadow: 0px 54px 84px rgba(74, 74, 74, 0.25);
            border-radius: 6px;
            max-width: 100%;
            @media (max-width: $mobile) {
                width: 210px;
            }
        }
    }

    &__1 {
        img {
            top: 0;
            right: 0;
            z-index: 4;
        }
    }

    &__2 {
        img {
            top: 35%;
            left: 0;
            z-index: 3;
        }
    }

    &__3 {
        img {
            bottom: 0;
            right: 0;
            z-index: 2;
        }
    }
}

// ====================================================================================================.hello {}
